{% extends "base.html" %}

{% block title %}Xəbər bülleteni: {{ mailing.name }}{% endblock %}

{% block content %}

    <h1>Bülleten məlumatı</h1>
    <p><b>AD: </b>{{ mailing.name }}</p>

    <p><b>Başlıq: </b>{{ mailing.subject }}</p>
    <p><b>Mesaj mətni: </b></p>
    <p>{{ mailing.message }}</p>
    <hr>
    <h3>Qəbul edənlər:</h3>
    {% for user in mailing.to_users.all %}
        <ul>
            <li><a href="{{ user.student.get_absolute_url }}">{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</a></li>
        </ul>
    {% endfor %}
    <p class="small-font">Gediş tarixi: {{ mailing.created }}</p>

{% endblock %}