
{% block sidebar %}
    <h3>Şəxsi hesab</h3>
    <img class="user-avatar" src="{{ user.photo.url }}" alt="{{ user.get_full_name }}">
    <p><b>{{ user.get_full_name }}</b></p>
    <p><span class="small">Baş müəllim:</span> <br>{{ user_group_manager.get_full_name }}</p>
    <ul>
        <li><a href="{% url 'student_lk' %}">Mənim qiymətlərim</a></li>
        <li><a href="{% url 'teacher_list' %}">Akademiyanın müəllimləri</a></li>
    </ul>
    <hr>
    <p><b>Parametrlər:</b></p>
    <ul>
        <li><a href="{% url 'password_change' %}">Parolu dəyişdirin</a></li>
<!--        <li><a href="{% url 'logout' %}">Выйти</a></li>-->
    </ul>
{% endblock %}