{% extends "base.html" %}

{% block title %}Parolun bərpası{% endblock %}

{% block sidebar %}
    <div style="background-color: #eff3f6"></div>
{% endblock %}

{% block content %}
    <div class="content account">
        <div class="login-form">
            <h3>Parolun bərpası:</h3>
            <p>Parolunuzu unutmusunuz? Aşağıya e-poçt ünvanınızı daxil edin və biz sizə yeni
                parol təyin etmək üçün təlimatlar göndərəcəyik.</p>
            <form method='post' action=''>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Parolu sıfırlayın</button>
            </form>
        </div>
    </div>
{% endblock %}