{% extends "base.html" %}

{% block title %}Parolun sıfırlanması tamamlandı{% endblock %}

{% block sidebar %}
    <div style="background-color: #eff3f6"></div>
{% endblock %}

{% block content %}
    <div class="content account">
        <div class="login-form">
            <h3>Yeni parol daxil edin:</h3>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Yada saxla</button>
            </form>
        </div>
    </div>
{% endblock %}