{% extends "base.html" %}

{% block title %}Fakultələrin siyahısı{% endblock %}

{% block content %}
    <h1>Fakültələrin qiymət siyahısı </h1>
    <table class="table-journal">
        <thead>
            <tr>
                <th>№</th>
                <th>Fakultə</th>
                <th>Rəhbər</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_teachers %}
                {% if user.teacher.group_manager %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{{ user.teacher.group_manager.get_absolute_url }}">
                                {{ user.teacher.group_manager.grade }}
                            </a>
                        </td>
                        <td><a href="{{ user.teacher.get_absolute_url }}">{{ user.get_full_name }}</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
